/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: url('/foto/tk.jpg') center/cover no-repeat;
    position: relative;
    overflow: hidden;
}

/* OVERLAY */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(107, 79, 163, 0.85),
        rgba(107, 79, 163, 0.6),
        rgba(107, 79, 163, 0.2),
        rgba(107, 79, 163, 0)
    );
    z-index: 0;
}

/* CONTENT */
.container {
    height: 100vh;
    position: relative;
    z-index: 2;
}

/* BACK BUTTON */
.back-btn {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 100;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    color: #6b4fa3;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.back-btn:hover {
    background: #6b4fa3;
    color: white;
    transform: scale(1.1);
}

/* FORM */
.col-md-5 {
    background: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

/* TEXT */
.text-orange {
    color: #f9a825 !important;
}

.custom-label {
    color: #a594d1;
    font-size: 0.85rem;
    font-weight: 600;
}

/* INPUT */
.custom-input {
    border-radius: 10px;
    padding: 10px 45px 10px 15px;
    border: 1px solid #ddd;
}

/* ICON MATA */
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #999;
}

.toggle-password:hover {
    color: #6b4fa3;
}

/* BUTTON */
.btn-purple {
    background-color: #9575cd;
    color: white;
    border-radius: 10px;
    border-bottom: 4px solid #7e57c2;
}

.btn-purple:hover {
    background-color: #7e57c2;
    transform: translateY(2px);
}

/* SMALL TEXT */
.x-small {
    font-size: 0.75rem;
}
