/* ===========================
   DATA PENJEMPUTAN
=========================== */

.search-input {
    height: 38px;
    padding-left: 38px;
    font-size: 13px;
    border-radius: 10px;
}

.search-input:focus {
    box-shadow: none;
    border-color: #d6c8ff;
}

.search-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #b3b3b3;
    z-index: 2;
}


/* TABLE */
.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 0;
    table-layout: fixed;
}

.table thead th{
    background:#fff;
    color:#8c8c8c;
    font-size:13px;
    font-weight:600;
    border-bottom:1px solid #ececec;
    text-align:center;
    padding:8px 8px;
}

.table tbody td{
    font-size:13px;
    vertical-align:middle;
    text-align:center;
    padding:10px 8px;
}


/* LEBAR KOLOM */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 7%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 12%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 35%;
    text-align: left;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 18%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 18%;
}


/* BUTTON STATUS */
.btn-status {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 8px;

    background: #dff9f4;
    border: 1px solid #9de8da;
    color: #11a88c;

    font-size: 13px;
    font-weight: 600;
    text-decoration: none;

    transition: .2s;
}

.btn-status:hover {
    background: #11a88c;
    color: #fff;
}

/* ===========================
   PAGINATION
=========================== */

.pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    margin-top: 16px;
}

.page-item-custom {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 7px;
    background-color: #e9edf2;
    color: #9aa3ad;

    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    transition: 0.2s ease;
}

.page-item-custom.active {
    background-color: #7048c8;
    color: #ffffff;
}

.page-item-custom:not(.disabled):not(.active):hover {
    background-color: #ddd3f8;
    color: #7048c8;
}

.page-item-custom.disabled {
    background-color: #e9edf2;
    color: #b9c0c8;
    cursor: default;
    pointer-events: none;
}
