body {
    background: #f5f6fa;
    font-family: 'Poppins', sans-serif;
}

/* ================= SIDEBAR ================= */
.sidebar-guru {
    width: 230px;
    height: 100vh;
    background: #f7f7f7;
    position: fixed;
    left: 0;
    top: 0;
    padding: 12px;
    border-right: 1px solid #ddd;

    display: flex;
    flex-direction: column;

    box-shadow: 2px 0 6px rgba(0,0,0,0.05);
}

/* LOGO */
.logo-area {
    margin-bottom: 8px;
}

.logo-area h2 {
    font-weight: 800;
    color: #7b5cff;
    margin: 0;
    font-size: 20px;
}

.logo-area p {
    font-size: 10px;
    color: #666;
    margin: 0;
}

/* MENU */
.menu-list {
    list-style: none;
    padding: 0;
    flex: 1;
}

.menu-item {
    list-style: none;
    margin-bottom: 1px;
}

.menu-item a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;
    text-decoration: none;
    color: #555;
    border-radius: 6px;
    font-size: 12px;
    transition: 0.2s;
}

.menu-item a i {
    font-size: 12px;
    width: 14px;
}

.menu-item a:hover {
    background: #ece6ff;
}

.menu-item.active a {
    background: #e5dcff;
    color: #6f42c1;
    font-weight: 600;
}

/* LOGOUT */
.logout {
    margin-top: auto;
}

.logout a {
    font-size: 12px;
    padding: 6px 8px;
    display: flex;
    gap: 6px;
    text-decoration: none;
    color: #555;
}

.logout a:hover {
    background: #ece6ff;
    border-radius: 6px;
}

/* ================= MAIN ================= */
/* WELCOME */
.welcome-box {
    font-weight: 600;
    color: #6a4bc4;
    margin-bottom: 12px;
}

/* SECTION */
.section {
    margin-bottom: 18px;
}

.section-title {
    background: #fff;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #eee;
    font-weight: 600;
    color: #555;
    margin-bottom: 10px;
}

/* ================= CARD ================= */
.cards {
    display: flex;
    gap: 12px;
}

.card-dashboard {
    flex: 1;
    background: #fff;
    border-radius: 10px;
    padding: 12px 14px;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: relative;
    transition: 0.2s;
}

.card-dashboard:hover {
    transform: translateY(-2px);
}

.card-dashboard p {
    font-size: 12px;
    color: #777;
    margin-bottom: 3px;
}

.card-dashboard h3 {
    font-size: 20px;
    font-weight: 700;
    color: #6a4bc4;
}

/* ICON */
.icon-orange {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #f2b177;
}

/* BADGE */
.badge-icon {
    position: absolute;
    right: 12px;
    bottom: 10px;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-icon.success {
    background: #e4fff5;
    color: #2ec4b6;
}

.badge-icon.danger {
    background: #ffe5e5;
    color: #ff6b6b;
}
