.container-dashboard {
    background: #f5f6fa;
}

/* CARD */
.card-box {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* HEADER */
.page-title {
    font-weight: 600;
    margin-bottom: 15px;
}

/* TABLE */
.table-container {
    margin-top: 10px;
}

#dataTableKehadiran {
    width: 100%;
    border-collapse: collapse;
}

#dataTableKehadiran thead th {
    font-size: 13px;
    font-weight: 600;
    color: #888 !important;
    padding: 10px 12px;
    text-align: left;
}

#dataTableKehadiran tbody td {
    padding: 12px 10px;
    border-top: 1px solid #eee;
    font-size: 14px;
}

/* BUTTON */
.btn-detail {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background: #16a34a;
    color: #fff !important;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}

.btn-detail:hover {
    background: #15803d;
    color: #fff !important;
}

/* ==============================
   PAGINATION
============================== */

.pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.pagination {
    display: flex;
    gap: 6px;
    margin: 0;
}

.pagination .page-item {
    margin: 0;
}

.pagination .page-link {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background: #ffffff;
    color: #6f42c1;

    border: 1px solid #dee2e6;
    border-radius: 7px !important;

    font-size: 14px;
    font-weight: 500;

    box-shadow: none !important;
}


/* HALAMAN AKTIF */
.pagination .page-item.active .page-link {
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: #ffffff;
}


/* HOVER */
.pagination .page-item:not(.active):not(.disabled) .page-link:hover {
    background-color: #f3edff;
    border-color: #cbb7ff;
    color: #6f42c1;
}


/* DISABLED */
.pagination .page-item.disabled .page-link {
    background-color: #eef1f4;
    border-color: #dee2e6;
    color: #adb5bd;
    cursor: default;
}
